.ChatList {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
        border: none;
        height: 2px;
        background-color: #ddd;
        opacity: 0.1;
        border-radius: 5px;
        margin: 20px 0px;
    }

    .title {
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    a {
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: #2c2937;
        }
    }

    .social-media {
        margin-top: auto;
        display: flex;
        gap: 10px;
    }
    
    .social-media svg {
        transition: color 0.3s;
    }
    
    .social-media a:hover svg {
        color: #217bfe;
    } 
}